@import 'tailwindcss';
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --spacing-11-5: 2.875rem /* 46px */;
  --spacing-12-5: 3.125rem /* 50px */;
  --spacing-4-5: 1.125rem /* 18px */;
  --spacing-8-5: 2.125rem /* 34px */;
  --spacing-5-5: 1.375rem /* 22px */;
  --spacing-0-25: 0.063rem /* 1px */;
  --spacing-1-25: 0.313rem /* 5px */;
  --spacing-9-5: 2.375rem /* 38px */;
  --spacing-22: 5.5rem /* 88px */;
  --spacing-7-5: 1.875rem /* 30px */;
  --spacing-15: 3.75rem /* 60px */;

  /* Font Sizes */
  --text-xs: 0.5rem /* 8px */;
  --text-sm: 0.563rem /* 9px */;
  --text-sm-plus: 0.575rem /* 9.203px */;
  --text-base: 0.625rem /* 10px */;
  --text-base-plus: 0.656rem /* 10.5px */;
  --text-base-alt: 0.644rem /* 10.303px */;
  --text-md: 0.719rem /* 11.503px */;
  --text-lg: 0.75rem /* 12px */;
  --text-lg-plus: 0.773rem /* 12.364px */;
  --text-xl: 0.875rem /* 14px */;
  --text-2xl: 0.938rem /* 15px */;
  --text-3xl: 1rem /* 16px */;
  --text-4xl: 1.125rem /* 18px */;
  --text-5xl: 1.25rem /* 20px */;
  --text-6xl: 1.5rem /* 24px */;
  --text-7xl: 1.75rem /* 28px */;
  --text-8xl: 2rem /* 32px */;
  --text-9xl: 4rem /* 64px */;
  --text-10xl: 6.25rem /* 100px */;
  --text-micro: 0.385rem /* 6.154px */;
  --text-micro-alt: 0.4rem /* 6.4px */;
  --text-micro-plus: 0.413rem /* 6.6px */;

  /* Line Heights */
  --leading-none: 0.625rem /* 10px */;
  --leading-tight: 100%;
  --leading-snug: 120%;
  --leading-normal: 140%;
  --leading-medium: 1.125rem /* 18px */;
  --leading-relaxed: 1.25rem /* 20px */;
  --leading-loose: 1.288rem /* 20.61px */;
  --leading-extra: 1.5rem /* 24px */;

  /* Letter Spacing */
  --tracking-tighter: -4%;
  --tracking-tight: -3%;
  --tracking-snug: -2%;
  --tracking-narrow: -1%;
  --tracking-normal: 0%;

  /* System Colors */
  --color-button-glass: #385dbb26;
  --color-white: #ffffff;
  --color-black: #242424;
  --color-blue: #3689ff;
  --color-blue-2: #73adff;
  --color-blue-3: #6394de;
  --color-blue-4: #89b1ff;
  --color-extra-light-blue: #d4e3f8;
  --color-light-blue: #77adff;
  --color-dark-blue: #1668da;
  --color-secondary: #969696;
  --color-secondary-2: #d9d9d9;
  --color-gray: #f8f8f8;
  --color-gray-2: #fcfcfc26;
  --color-dark-neutral-600: #666666;
  --color-dark-neutral-500: #7c7c7c;
  --color-dark-neutral-200: #bdbdbd;
  --color-dark-neutral-300: #a7a7a7;
  --color-dark-neutral-400: #929292;
  --color-light-neutral-500: #e0e0e0;
  --color-light-neutral-100: #fafafa;
  --color-light-neutral-400: #e8e8e8;
  --color-light-neutral-300: #f0f0f0;
  --color-brand-blue-700: #3f7fdc;
  --color-success-200: #abefc6;
  --color-success-400: #47cd89;
  --color-pink-400: #f670c7;
  --color-warning-300: #fec84b;
}

.background-linear {
  @apply from-blue-3 to-extra-light-blue bg-gradient-to-b;
}

.background-linear-2 {
  @apply from-blue-3 to-extra-light-blue bg-gradient-to-br;
}

.background-linear-3 {
  @apply from-light-blue to-extra-light-blue bg-gradient-to-r;
}

.background-white-linear {
  @apply bg-gradient-to-b from-white to-white/0;
}

.background-blue-linear {
  @apply from-blue-2 to-blue-4 bg-gradient-to-b;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove number input arrows globally */

/* For Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
